[[redirects]]
  from = "/.well-known/apple-app-site-association"
  to = "/.well-known/apple-app-site-association"
  status = 200
  force = true
  headers = {Content-Type = "application/json"}

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

